/* DEFAULT CSS and CONFIG ALL BODY*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: [start-col] 100% [end-col];
    grid-template-rows: [start-row] 40px [row1] auto [footer] auto[end-row];
}

/* - NAVBAR MOBILE*/

nav{  
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid rgb(250, 250, 250);

    /*pares*/
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: start-row;
    grid-row-end: row1;
    /*fills*/
    display:flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
 
#img{  
    height: 40px;
    display: flex;
    width: 25%;  
    list-style: none;
} 

#logoMenu img{
    width: 39px;
}
  
#menuMenu li{
    margin: 20px;
    text-align: center;
}
#menuCentrat{
    display: none;
}

#buttonMenu:hover #menuCentrat{
    display: block;
}


#icones{   
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

#icones li {
    width: 45px;  
    height: 39px; 
} 
#icones li svg{ 
    height: 39px; 
} 

#icones li{ 
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 1px 2px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#icones li:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}

/*RESPONSIVE PC*/

@media (min-width:700px) {     
    nav{    
        /*fills*/
        grid-column-start: start-col;
        grid-column-end: end-col;
        grid-row-start: start-row;
        grid-row-end: row1; 
    
        display:flex;
        justify-content: space-between ;
        position: relative;
    }
    
    #img{
        width: 20%; 
    }

    #buttonMenu{
        display: none;
    }

    #menuCentrat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    
    #menuCentrat li{
        margin: 10px;
        text-align: center;
    }
    #icones{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }

    #menuCentrat a:link, a:visited{ 
        background-color: white;
        color: black;
        border: 2px solid white;
        padding: 1px 2px; 
        text-decoration: none;
        display: inline-block;
    } 
    #menuCentrat a:hover, a:active {
        background-color: rgb(49, 49, 49);
        color: white;
    } 
}

/*  Section  */
section{ 
    /*pares*/
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row1;
    grid-row-end: footer;
    /*fills*/
    display:flex;
    flex-direction: row;
    justify-content: center;   
    align-items: stretch;
}
#carrito{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#principal{ 
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}
#principal h1{
    width: 50%;
    height: 50px; 
}
#svg{
    width: 50%;
    height: 50px;  
    display: flex;
    justify-content: flex-end;
}
#svg svg{
    width: 70px;
    height: 30px; 
}

#quantity{ 
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
}

#porcentaje{ 
    background: repeating-linear-gradient(
      45deg,
      #9DFFBC 20px,
      #9DFFBC 40px,
      #00FF50 40px,
      #00FF50 60px
    ); 
    width: 100%;
    height: 20px;
    color: white;
}
#porcentaje p{
    text-align: center;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

img[alt~="board"] {
    width: 20%;
    margin-top: 10px;
}
.center-art{
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.center-art h2{
    width: 100%;
    height: 40px; 
    font-size: 25px;
}

.detail-art{ 
    width: 100%;
    display: flex; 
    justify-content: flex-start;
}

.detail-art p{ 
    color: gray; 
    margin-right: 20px;
}
.detail-art svg{
    color: gray;  
}
.price-art{ 
    margin-top: 10px ;
    display: flex;
    justify-content:space-between;
}
.num-art{
    display: flex;
    margin-top: 10px ;
}
.num-art input{
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    width: 8%;
}


#final-shop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     
    padding: 30px 0;
    border-bottom: 1px solid rgb(212, 212, 212);
}
#final-shop div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#final-shop div p{
    text-align: right;
}

#buy-shop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 30px; 
    margin-bottom: 200px;
}

#buy-shop input{
    margin-right: 10px;
}

.buy-bottom{ 
    height: 30px; 
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    border: 1px solid black;
    font-weight: 900;
}

/*  Footer  */ 

footer{ 
    /*pares*/
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: footer;
    grid-row-end: end-row;
    /*fills*/
    display:flex;
    flex-direction: column; 
    justify-content: center;
    background-color: black;
}

#footer-img{
    margin-top: 70px;
    width: 70px;
}
footer p {
    color: gray; 
    font-size: 12px;
} 
footer h2 {
    color: white; 
    font-size: 16px;
    font-weight: 900;
} 
#first-div-f {
     margin: 10px;
}
#first-div-f div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-f{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid white  ;
}

.div-f svg{ 
    color: white;
}

.div2-f{
    margin: 10px; 
    padding: 10px 0px; 
}
.div2-f div{ 
    display: flex; 
}
.div2-f *{
    margin-top: 10px;
    margin-bottom: 10px;
}
#input-div2{
    width: 70%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
#button-div2{
    width: 20%;
    height: 30px; 
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    border: 1px solid black;
    font-weight: 900;
}
.info-div-f{
    display: none;
}

@media (min-width:850px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    } 

    .div-f{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        border-bottom: 0 ;
        width: 10%;
    }

    footer h2{
        font-size: 12px;
        margin: 0;
    }
    #footer-img{
        margin: 0;
        width: 50px;
    }
    footer p{
        font-size: 10px;
    }

    .div-f svg{
        display: none;
    }

    .info-div-f{
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
    }
    .info-div-f p{
        margin-top: 5px;
        margin-bottom: 5px;
    } 

    #first-div-f{
        width: 18%;
        margin: 0;
        margin-top: 10px;
    }
    .div-f{
        width: 18%; 
        margin: 0;
    }
    .div2-f{
        width: 25%; 
        margin: 0;
    }
    
    .div2-f h2{  
        margin: 0;
    }
    #input-div2{
        margin: 0;
        width: 75%;
    } 
    #button-div2{
        margin: 0; 
        width: 25%;
    }
}