/* DEFAULT CSS and CONFIG ALL BODY*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: [start-col] 100% [end-col];
    grid-template-rows: [start-row] 40px [row1] 750px [row2] 500px [row3] auto [row4] auto [row5] auto [end-row];
}
/* - NAVBAR MOBILE*/

nav{  
    background-color: white;
    border-bottom: 1px solid rgb(250, 250, 250);

    /*pares*/
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: start-row;
    grid-row-end: row1;
    /*fills*/
    display:flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
 
#img{  
    height: 40px;
    display: flex;
    width: 25%;  
    list-style: none;
} 

#logoMenu img{
    width: 39px;
}
  
#menuMenu li{
    margin: 20px;
    text-align: center;
}
#menuCentrat{
    display: none;
}

#buttonMenu:hover #menuCentrat{
    display: block;
}

#icones{   
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

#icones li {
    width: 45px;  
    height: 39px; 
} 
#icones li svg{ 
    height: 39px; 
} 

#icones li{ 
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 1px 2px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#icones li:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}

/*RESPONSIVE PC*/

@media (min-width:700px) {     
    nav{    
        /*fills*/
        grid-column-start: start-col;
        grid-column-end: end-col;
        grid-row-start: start-row;
        grid-row-end: row1; 
    
        display:flex;
        justify-content: space-between ;
        position: relative;
    }
    
    #img{
        width: 20%; 
    }

    #buttonMenu{
        display: none;
    }

    #menuCentrat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    
    #menuCentrat li{
        margin: 10px;
        text-align: center;
    }
    #icones{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }

    #menuCentrat a:link, a:visited{ 
        background-color: white;
        color: black;
        border: 2px solid white;
        padding: 1px 2px; 
        text-decoration: none;
        display: inline-block;
    } 
    #menuCentrat a:hover, a:active {
        background-color: rgb(49, 49, 49);
        color: white;
    } 
}

/* - FIRST SECTION*/

#first-section{ 
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row1;
    grid-row-end: row2; 

    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

#background-image-fs{
    z-index: -1;

    background-image: url("../img/sliderPrincipalMov.jpg"); 
    filter: brightness(80%);
    position: absolute;
    width: 100%; 
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#text-fs h1{ 
  font-weight: 1000; 
}

#text-fs{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-around;
} 
#text-fs p{  
    margin-bottom: 20px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
#text-fs * {
    margin: 5px;  
    color: white;
} 
#text-fs button{
  background-color: rgb(255, 255, 255);
  border-radius: 5px; 
  color: rgb(0, 0, 0);
  cursor: pointer; 
  font-size: 16px;  
  overflow: hidden; 
  width: 50%;
  height: 40px;
  font-weight: bolder;
}

#textCenter{
    display: none;
}

@media (min-width:1000px) {     
    #first-section{
        flex-direction: row;
    }
    #background-image-fs{
        margin-left: 50%;
        width: 50%;
    }
    #textCenter{
        display: block;
        font-size: 75px;   
        width: 50%;
        margin-right: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    } 
    #textCenter h1 {
        text-align: center;
    }
    #textCenter h1 span{
        text-decoration: underline black; 
    }

    #text-fs{ 
        width: 25%;
        flex-direction: column;
        justify-content: center; 
    }

    #text-fs * { 
        color: black;
    } 

}


/*  SECOND SECTION  */

#second-section{ 
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row2;
    grid-row-end: row3; 

    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

#background-image-ss{
    z-index: -1;

    background-image: url("../img/standUp-ss-mob.jpg");
    position: absolute;
    width: 100%; 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#secundary-text-ss{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
} 
#secundary-text-ss p{ 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 20px; 
}
#secundary-text-ss * {
    margin: 5px; 
} 
#secundary-text-ss button{
  background-color: rgb(26, 26, 26);
  border-radius: 5px; 
  color: rgb(255, 255, 255);
  cursor: pointer; 
  font-size: 16px;  
  overflow: hidden; 
  width: 50%;
  height: 40px;
  font-weight: bolder;
} 

@media (min-width:1000px) {
    
    #background-image-ss{
        z-index: -1;
    
        background-image: url("../img/standUp-ss.jpg");
        position: absolute;
        width: 100%; 
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    

#secundary-text-ss{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
} 

}

/*  THIRD SECTION  */

#article-section{
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row3;
    grid-row-end: row4; 

    display: flex; 
    flex-direction: column; 
}
#bar-products{ 
    display: flex; 
    flex-direction:row; 
    margin-left: 25%; 
    height: 50px;
    justify-content: center;
}

#article-section div h2{  
    width: 168px; 
    margin: auto;
    text-align: center;
}
#article-section div a{  
    width: 25%; 
    text-align: right;
    margin-top: 20px;
    margin-right: 5px;
} 

#article-section #section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article img{
    z-index: -1;
    position: absolute;
    width: 48%;
    height: auto;
}
article{
    width: 48%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.sale-text{
    margin-top: 18px; 
    margin-left:auto;
    margin-right: 20px;
    width: 55px;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
    background-color: red;
    font-weight:bold;
}
.new-text{
    margin-top: 20px; 
    margin-left:auto;
    margin-right: 20px;
    width: 55px;
    padding: 5px 10px;
    color: white; 
    background-color: rgb(17, 171, 182);
    font-weight:bold;
}
.addCard{    
  background-color: rgb(255, 255, 255);
  border-radius: 5px; 
  color: rgb(0, 0, 0);
  cursor: pointer; 
  font-size: 16px;  
  overflow: hidden; 
  height: 40px;
  font-weight: bolder;
  margin-top: 120px; 
}

h3{
    margin-left: 5px;
    color: gray;
    font-size: 12px;
}

.colorbuttons button{
    border-radius: 50%;  
    margin: 5px;
    height: 20px;
    width: 20px;
}

.color-red{ 
    background-color: red;
}
.color-blue{ 
    background-color: blue;
}
.color-green{
    background-color: green;
}

.def-article{
    display: flex;
    flex-direction: column; 
}

.def-article div{
    display: flex;
    flex-direction: row;   
}

span.offer{ 
    text-decoration:line-through;
    color: grey;
} 
h5.offer{
    color: red;
    font-size: 16px;
    margin-left: 10px;
}
h5{
    font-size:16px;
}
.stars{
    display: none;
}
.heart {
    display: none;
}

@media (min-width:550px) {
    section{ 
        justify-content: space-around;
    }
    article img{
        z-index: -1;
        position: absolute; 
        margin-left: auto;
        margin-right: auto;
        width: 24%; 
        height: auto;
        max-height: 250px;
    }
    article{
        width: 24%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 40px;
    }
    .addCard{
        margin-top: 160px;
    }
    .stars{
        display: block;
        font-size: 20px;
    }
    .stars span{
        color: yellow;
        text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .heart {
        display: block;
        font-size: 25px; 
    }
    .sale-text{   
        margin-top: 0px; 
        margin-left:auto; 
        margin-right: 10px;
        color: white;
        border: 1px solid white;
        background-color: red;
        font-weight:bold;
    }
    .new-text{
        margin-top: 0px; 
        margin-left:auto;
        margin-right: 20px;
        padding: 5px 10px;
        color: white;
        border: 1px solid white;
        background-color: rgb(17, 171, 182);
        font-weight:bold;
    }
    .into-img{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }
    .addCard{ 
        display: none;
    }
     .def-article{ 
        margin-top: 220px;
        display: flex;
        
     }
}


/*  THIRD SECTION  */

#third-section{ 
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row4;
    grid-row-end: row5;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}
#title-ts{
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 20px;  
    font-size: 20px;
}

#subtitle-ts{ 
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}
#valorations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
} 

#valorations svg{
    width: 40px;
    height: 40px;
    margin: 10px; 
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}
#mobile-article{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.op-img{  
    z-index: -1;  
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    filter: grayscale(100%);
}

.stars-op{ 
    font-size: 30px;
    margin-top: 20px; 
    text-align: center;
}
.stars-op span{
    color: yellow;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-op{
    margin: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
}
.user-op{
    margin: 10px;
    color: gray;
    font-size: 10px;
    text-align: center;
}
#select-op-mob{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 7px;
    text-align: center;
}
#select-op-pc{
    display: none; 
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#select-op-pc svg{
    width: 15px;
    height: auto;
}
.pc-article{
    display: none; 
}

@media (min-width:700px) {
    #select-op-mob{
        display: none;
    }

    #select-op-pc{
        display: block;  
    } 

    .pc-article{
        display: block;
    }
    #mobile-article{
        width: 20%;  
        margin-left: auto;
        margin-right: auto;
    }
    .pc-article{
        width: 20%;  
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} 

/*  Footer  */ 

footer{ 
    /*pares*/
    grid-column-start: start-col;
    grid-column-end: end-col;
    grid-row-start: row5;
    grid-row-end: end-row;
    /*fills*/
    display:flex;
    flex-direction: column; 
    justify-content: center;
    background-color: black;
}

#footer-img{
    margin-top: 70px;
    width: 70px;
}
footer p {
    color: gray; 
    font-size: 12px;
} 
footer h2 {
    color: white; 
    font-size: 16px;
    font-weight: 900;
} 
#first-div-f {
     margin: 10px;
}
#first-div-f div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-f{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid white  ;
}

.div-f svg{ 
    color: white;
}

.div2-f{
    margin: 10px; 
    padding: 10px 0px; 
}
.div2-f div{ 
    display: flex; 
}
.div2-f *{
    margin-top: 10px;
    margin-bottom: 10px;
}
#input-div2{
    width: 70%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
#button-div2{
    width: 20%;
    height: 30px; 
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    border: 1px solid black;
    font-weight: 900;
}
.info-div-f{
    display: none;
}

@media (min-width:850px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    } 

    .div-f{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        border-bottom: 0 ;
        width: 10%;
    }

    footer h2{
        font-size: 12px;
        margin: 0;
    }
    #footer-img{
        margin: 0;
        width: 50px;
    }
    footer p{
        font-size: 10px;
    }

    .div-f svg{
        display: none;
    }

    .info-div-f{
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
    }
    .info-div-f p{
        margin-top: 5px;
        margin-bottom: 5px;
    } 

    #first-div-f{
        width: 18%;
        margin: 0;
        margin-top: 10px;
    }
    .div-f{
        width: 18%; 
        margin: 0;
    }
    .div2-f{
        width: 25%; 
        margin: 0;
    }
    
    .div2-f h2{  
        margin: 0;
    }
    #input-div2{
        margin: 0;
        width: 75%;
    } 
    #button-div2{
        margin: 0; 
        width: 25%;
    }
}